
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-6 ">
        <h2 class="text-center">Log in</h2>    
        <form (submit)="loginUser(loginForm)" [formGroup]="loginForm" novalidate>
        <div class="form-group">
          <label class="sr-only">email</label>
            <input type="text" class="form-control" placeholder="email" formControlName="loginEmail">
        </div>
        <div class="form-group">
            <label class="sr-only">password</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="loginPassword">
        </div>
        <div class="form-group">
            <input type="submit" value="login" class="btn btn-primary btn-block">
        </div>   
      </form>        
    </div>
  </div>
</div>